@import "{meta:susy}/susy";

.recommandation-title {
  font-size:1.2em;
  margin-top:15px;
}

$warningSize:25px;
$paddingSize: 5px;

li[class*="-recommandation"] {
  margin-bottom: 15px;
  padding: $paddingSize;
  border-width:1px;
  border-style: solid;
  width:98%;
  svg {
    width:$warningSize;
    height:$warningSize;
    float: right;
    position:relative;
    top:-(($warningSize/2)+$paddingSize);
    right:-(($warningSize/2)+$paddingSize);
    background-color: white;
  }
}

@mixin defineColor($color) {
  border-color: $color;
  svg {
    stroke:$color;
    fill:$color;
  }
  .description_complement, .recommandation {
    border-color: $color;
  }
}

$opacity : 1;

.weak-recommandation {
  @include defineColor(rgba(0, 128, 0, $opacity));
}

.intermediate-recommandation {
  @include defineColor(rgba(255, 165, 0, $opacity));
}

.strong-recommandation {
  @include defineColor(rgba(255, 0, 0, $opacity));
}

.description_complement {
  font-style: italic;
  font-size: 0.9em;
  margin-left: 20px;
  padding-left:5px;
  border-left: 3px solid;
}

.recommandation {
  margin-bottom:5px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.recommandation:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
