@import "{meta:susy}/susy";

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.recommandation-title {
  font-size:1.2em;
  margin-top:15px;
  margin-bottom:10px;
}

.new-recommandation {  
  margin-bottom:10px;
}

$warningSize:25px;

li[class*="-recommandation"] {
  margin-bottom: 15px;
  padding: 5px;
  border-width:1px;
  border-style: solid;
  width:100%;
  position: relative;
  svg {
    width:$warningSize;
    height:$warningSize;
    position:absolute;
    top:-($warningSize/2);
    right:-($warningSize/2);
    background-color: white;
    @include no-select;
  }
}

@mixin defineColor($color) {
  border-color: $color;
  svg {
    stroke:$color;
    fill:$color;
  }
  .description_complement, .recommandation {
    border-color: $color;
  }
}

$opacity : 1;

.weak-recommandation {
  @include defineColor(rgba(0, 128, 0, $opacity));
}

.intermediate-recommandation {
  @include defineColor(rgba(255, 165, 0, $opacity));
}

.strong-recommandation {
  @include defineColor(rgba(255, 0, 0, $opacity));
}
