@import "{meta:susy}/susy";

$susy:(
  columns:12,
  gutters: 1/2,
  math:fluid,
  output:float,
  gutter-position: inside
);

.hidden {
  display:none;
}

#insertRecommandationForm {
  border:solid 1px black;
}
